body{
    margin-top: 0px;
    margin-left:0px;
    margin-bottom: 0px;
    display: flex;
    background:#eeeeee;
}

h1{
    font-family: 'Quicksand', sans-serif;
    color: #607d8b;
    border-bottom-style: dotted;
}

p{
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
}

ul{
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
    margin: 20px;
}

.fondo-azul{
    background: #607d8b;
    height: 200px
}

.content{
    background: #fafafa;
}


#side-bar{
    background:#fafafa ;
    
    height: 949px;
    width: 350px;
    margin-right: 20px;
}
#container{
    display: inline-block;
    width: 50%;
    
}

#capacidades-div{
    position: relative;
    height: 400px;
    margin: 30px;
    box-shadow: 1px 5px 28px #888888;
}

#formacion-div {
    position: relative;
    height: 400px;

    margin: 30px;
    box-shadow: 1px 5px 28px #888888;
}
#otros-div {
    position: relative;
    width: 20%;
    margin: 30px;
    height: 830px;
    box-shadow: 1px 5px 28px #888888;
}
#pp{
    position: relative;
    top: 100px;
    left: 60px;
    background: #fafafa;
    height: 200px; 
    width: 200px;
    border-radius: 50%;
}

#pp-image{
    margin: 10px; 
    height: 90%;
    width: 90%;
    border-radius: 50%;
}


#about{
    position: absolute;
    top:300px;
    left: 80px;
}
.h-container{
    position: relative;
    margin: 20px;
}
#datos{
    position: absolute;
    font-size: 22px;
    top:550px;
    left: 50px;
}

#p-about{
    position: relative;
    top:150px;
    
}
#p-datos{
    position: relative;
    top:200px;
}
#icon-container{
    position: relative;
    top: 150px;
    display: flex;
    padding-left: 25px;
    padding-right: 25px;
}

#icons{
    position: relative;
    font-family: 'Quicksand', sans-serif;
    color: #607d8b;
}

#git{
    top:160px;
    left: 60px;
    font-size: 45px;
    margin: 20px;
}
#twitter{
    
    top:80px;
    left: 130px;
    font-size: 45px;
    margin: 20px;
}
#linkedin{
    
    left: 200px;
    font-size: 45px;
    margin: 20px;
}

#linkedin > a:link {
    color: #0077B5; 
    background-color: transparent; 
    text-decoration: none;
}

#linkedin > a:visited {
    color: #0077B5;
    background-color: transparent;
    text-decoration: none;
}

#twitter > a:link {
    color: #0077B5; 
    background-color: transparent; 
    text-decoration: none;
}

#twitter > a:visited {
    color: #00aced;
    background-color: transparent;
    text-decoration: none;
}

#git > a:link {
    color: #333; 
    background-color: transparent; 
    text-decoration: none;
}

#git > a:visited {
    color: #333;
    background-color: transparent;
    text-decoration: none;
}